@model IEnumerable<SportPlaces.Models.City>

@{
    ViewData["Title"] = "Index";
}

<h2>Города</h2>

<p>
    <a asp-action="Create">Добавить новый</a>
</p>

<hr/>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Поиск по названию: <input type="text" name="SearchString" />
            <input type="submit" value="Найти" class="btn btn-default" /> |
            <a asp-action="Index">К исходному списку</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <!--<a asp-action="Details" asp-route-id="@item.Id">Details</a> |-->
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
