@model IEnumerable<SportPlaces.Models.Record>

@{
    ViewData["Title"] = "Index";
}

<h2>Записи</h2>

<p>
    <a asp-action="AjaxCreate">Добавить новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportObject)
            </th>
            <th>
                Дата записи
            </th>
            <th>
                Время записи
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SportObject.Name)
            </td>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @item.Date.ToShortTimeString()
            </td>
            <td>
                @switch (item.Length)
                {
                    case 0.5:
                        @:Тридцать минут
                        break;
                    case 1:
                        @:Один час
                        break;
                    case 1.5:
                        @:Полтора часа
                        break;
                    case 2:
                        @:Два часа
                        break;
                    case 2.5:
                        @:Два с половиной часа
                        break;
                    case 3:
                        @:Три часа
                        break;
                    case 4.5:
                        @:Четыре с половиной часа
                        break;
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <!--<a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> | -->
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
